<div class="container">
  <h4>PM Weekly Summaries Filter</h4>
  <div class="w-50">
    <%= form_tag project_mgr_summaries_path, method: :post do %>
      <div class="form-group">
        <label for="project_title">Project Title:</label>
        <%= select_tag "project_title",
                       options_for_select(
                           select_options(
                               ProjectHelper.distinct_project_titles,
                               default_text: '--- Select a project ---',
                               default_value: '',
                               value_prop: :timesheet_cell_project_title,
                               text_prop: :timesheet_cell_project_title),
                           @project_title), {:class => 'form-control', :onchange => 'filter_change()'} %>
      </div>
      <div class="form-group">
        <label for="task_name">Task Name:</label>
        <%= select_tag "task_name", options_for_select([], @task_name), {:class => 'form-control'} %>
      </div>
      <div class="form-group">
        <label for="week_start_date">Week Start/End:</label>
        <%= select_tag "week_start_date", options_for_select(week_start_date_options, @wsd), {:class => 'form-control'} %>
      </div>
      <%= submit_tag("Retrieve Weekly Summaries", :id => "submit_button", :class => "btn btn-primary", :name => "submit_button") %>
    <% end %>
  </div>
  <hr>
  <br>
  <% if @summaries %>
    <h3>Weekly Summary Results</h3>
    <%#= @summaries.as_json %>
    <% @summaries.each do |summary| %>
      <% summary_status = summary.weekly_status.summary_status %>
      <%status = fetch_summary_status summary.weekly_status %>
      <% icon = "fas fa-#{status[:image]}" %>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <%= summary.person_email_id %><br>
            <%= summary.timesheet_cell_task_name %><br>
            <i class="<%= icon %>"></i>&nbsp;&nbsp;<span style="font-weight: bold; <%= "color: #{status[:color]}" %>"><%= status[:status] %></span><br>
          </div>
          <div class="col-sm-6">
            <% if summary_status.eql?(WeeklyStatus::COMPLETED.to_s) %>
              <b>Weekly Summary:</b><br><%= text_area_tag 'weekly_summary_comment', summary.weekly_summary_comment, class: 'summary-text-area', disabled: true %>
              <br><b>Blockers:</b><br><%= text_area_tag 'weekly_summary_blockers', summary.blockers, class: 'summary-text-area', disabled: true %>
              <br><b>Next Planned Activity:</b><br><%= text_area_tag 'weekly_summary_next_planned_activity', summary.next_planned_activity, class: 'summary-text-area', disabled: true %>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
    let filter_change = () => {
        const {target} = event;
        const value = target.value;
        let disable_submit = false;

        if (target.id === 'project_title') {
            filter_tasks(value);
            if (value === '') {
                disable_submit = true;
            }
        }
        $('#submit_button').prop('disabled', disable_submit);
    };

    let filter_tasks = (project_title) => {
        let dropdown = $('#task_name');
        let default_option = '<option disabled selected value="all">--- Select a Project to Filter By ---</option>';

        if (project_title !== '') {
            default_option = '<option value="all">--- All Tasks ---</option>';
        }
        dropdown.empty();
        dropdown.append(default_option);

        if (project_title !== '') {
            $.getJSON('<%= get_project_tasks_path %>', {project_title: project_title}, function (data) {
                $.each(data, function (key, entry) {
                    const val = entry['timesheet_cell_task_name'];
                    dropdown.append($('<option></option>').attr('value', val).text(val));
                });
                $("select#task_name option[value='<%=@task_name %>']").attr('selected', 'selected');
            });
        }
    };
    $(document).ready(function () {
        filter_tasks('<%= @project_title %>');
        const disable_submit = $('#project_title').val() === '';
        $('#submit_button').prop('disabled', disable_submit);

    });
</script>
