<div class="container">
  <div class="row">
    <div class="col">
      <h2>Log in</h2>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="_email" class="form-group w-50 py-2">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', 'aria-describedby': "emailHelp" %>
      <small id="emailHelp" class="form-text text-muted">Enter your VetsEZ email address</small>
    </div>
    <div class="form-group w-50 field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', :'aria-label' => "Password", 'aria-describedby': "passwordHelp" %>
      <small id="passwordHelp" class="form-text text-muted">Enter your password</small>
    </div>
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  <% end %>
</div>
