<div class="usa-grid">
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Project Organization:</span><br>
    <%= row.object.project_organization %>
  </div>
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Project Code:</span><br>
    <%= row.object.project_code %>
  </div>
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Project Title:</span><br>
    <%= row.object.project_title %>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Project Type:</span><br>
    <%= row.object.project_type %>
  </div>
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Task Number:</span><br>
    <%= row.object.task_number %>
  </div>
  <div class="usa-width-one-third">
    <span style="font-weight: bold">Task:</span><br>
    <%= row.object.task %>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-whole">
    <span style="font-weight: bold">Weekly Summary Comment:</span><br>
    <%= row.text_area :weekly_summary_comment %>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-whole">
    <span style="font-weight: bold">Blockers:</span><br>
    <%= row.text_area :blockers  %>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-width-one-whole">
    <span style="font-weight: bold">Next Planned Activity:</span><br>
    <%= row.text_area :next_planned_activity %>
  </div>
</div>

