<div style="background-color: #3f57a6; color: white; border: #8b8b8b solid thin">
  <div style="float: right; color: navy">
    <a class="btn btn-tertiary" onclick="show_summary('weekly_status_weekly_summaries_attributes_<%= index %>_reviewed', <%= row.object.id %>)">Show/Hide Comments</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= span_label('Project Code') %>
      <%= row.object.timesheet_cell_project_code %>
    </div>
    <div class="col-sm">
      <%= span_label('Project Title') %>
      <%= row.object.timesheet_cell_project_title %>
    </div>
    <div class="col-sm">
      <%= span_label('Task Name') %>
      <%= row.object.timesheet_cell_task_name %>
    </div>
  </div>
  <hr>
  <div id="toggle_<%=row.object.id %>" class="comments-edit">
    <div class="row">
      <div class="col-sm">
        <%=label_tag :weekly_summary_comment, 'Weekly Summary Comment:' %>
        <%= row.text_area :weekly_summary_comment, class: 'summary-text-area'  %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%=label_tag :blockers, 'Blockers:' %>
        <%= row.text_area :blockers, class: 'summary-text-area' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%=label_tag :next_planned_activity, "Next Planned Activity:"  %>
        <%= row.text_area :next_planned_activity, class: 'summary-text-area' %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    function show_summary(selector, id) {
        $('#' + selector).val(true);
        $('#toggle_'+ id).toggle();
    }
  // initially hide all comment fields so the act of showing will allow us to set the reviewed hidden field to true
  $(document).ready(function(){
      $('.comments-edit').hide();
  });
</script>