<div style="background-color: #3f57a6; color: white; border: #8b8b8b solid thin">
  <div style="float: right; color: navy">
    <a onclick="gon.js.UIHelper.toggle_div('toggle_<%=row.object.id %>')">Show/Hide</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <span style="font-weight: bold">Project Code:</span><br>
      <%= row.object.project_code %>---
      <%= row.object.weekly_status.week_start_date %>
    </div>
    <div class="col-sm">
      <span style="font-weight: bold">Project Title:</span><br>
      <%= row.object.project_title %>
    </div>
    <div class="col-sm">
      <span style="font-weight: bold">Project Type:</span><br>
      <%= row.object.project_type %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <span style="font-weight: bold">Task Number:</span><br>
      <%= row.object.task_number %>
    </div>
    <div class="col-sm">
      <span style="font-weight: bold">Task Title:</span><br>
      <%= row.object.task %>
    </div>
    <div class="col-sm">
      <span style="font-weight: bold">Total Task Hours:</span><br>
      <%= row.object.total_hours %>
    </div>
  </div>
  <div id="toggle_<%=row.object.id %>">
    <div class="row">
      <div class="col-sm">
        <%=label_tag :weekly_summary_comment, '>Weekly Summary Comment:' %>
        <span style="font-weight: bold">Weekly Summary Comment:</span><br>
        <%= row.text_area :weekly_summary_comment, class: 'summary-text-area'  %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <span style="font-weight: bold">Blockers:</span><br>
        <%= row.text_area :blockers, class: 'summary-text-area' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <span style="font-weight: bold">next Planned Activity:</span><br>
        <%= row.text_area :next_planned_activity, class: 'summary-text-area' %>
      </div>
    </div>
  </div>
</div>

