<div style="background-color: #3f57a6; color: white; border: #8b8b8b solid thin">
  <div style="float: right; color: navy">
    <a onclick="gon.js.UIHelper.toggle_div('toggle_<%=row.object.id %>')">Show/Hide</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= span_label('Project Code') %>
      <%= row.object.timesheet_cell_project_code %>
    </div>
    <div class="col-sm">
      <%= span_label('Project Title') %>
      <%= row.object.timesheet_cell_project_title %>
    </div>
    <div class="col-sm">
      <%= span_label('Task Name') %>
      <%= row.object.timesheet_cell_task_name %>
    </div>
  </div>
  <hr>
  <div id="toggle_<%=row.object.id %>">
    <div class="row">
      <div class="col-sm">
        <%=label_tag :weekly_summary_comment, 'Weekly Summary Comment:' %>
        <%= row.text_area :weekly_summary_comment, class: 'summary-text-area'  %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%=label_tag :blockers, 'Blockers:' %>
        <%= row.text_area :blockers, class: 'summary-text-area' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <%=label_tag :next_planned_activity, "Next Planned Activity:"  %>
        <%= row.text_area :next_planned_activity, class: 'summary-text-area' %>
      </div>
    </div>
  </div>
</div>
