<%=link_to 'Back', weekly_status_index_path, class: 'btn btn-primary' %><br><br>
<h3>Weekly Status Details for <%= @details.first.weekly_status.week_start_date %></h3>
<table class="table">
  <thead>
  <tr>
    <th>Project Code</th>
    <th>Project Title</th>
    <th>Task Number:Title</th>
    <th>Task Date</th>
    <th>Hours</th>
    <th colspan="2">Comment</th>
  </tr>
  </thead>
  <tbody>
    <% @details.each do |row| %>
      <tr>
        <td><%= row.timesheet_cell_project_code %></td>
        <td><%= row.timesheet_cell_project_title %></td>
        <td><%= row.timesheet_cell_task_name %></td>
        <td><%= row.timesheet_cell_work_date %></td>
        <td><%= row.timesheet_cell_hours %></td>
        <td><%= row.timesheet_cell_comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>
