<div class="container">
  <br>
  <h4>Weekly Summaries for <%= current_user.email %></h4>
  <br>
  <table class="table" style="width: fit-content">
    <thead class="thead-light">
    <tr>
      <th>Week Start Date</th>
      <th>Week End Date</th>
      <th>Review Status</th>
      <th colspan="2" style="text-align: center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @weekly_statuses.each do |weekly_status| %>
      <% icon = "fas fa-#{weekly_status.reviewed_status[:image]}" %>
      <tr>
        <td><%= weekly_status.week_start_date %></td>
        <td><%= weekly_status.week_start_date + 6 %></td>
        <td><i class="<%= icon %>"></i>&nbsp;&nbsp;<span style="font-weight: bold; <%= "color: #{weekly_status.reviewed_status[:color]}" %>"><%= weekly_status.reviewed_status[:status] %></span></td>
        <td><%= link_to 'Edit Summary', weekly_status_path(weekly_status) %></td>
        <td><%= link_to "List Details", :controller => "weekly_status", :action => "details", :id => weekly_status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
