<!DOCTYPE html>
<html>
  <head>
    <title>DSBPA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets/formation/app.css' %>

    <!-- import react bootstrap styles -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      />

  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
