<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VetsEZ Works Weekly Reporting</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
  <%= javascript_pack_tag 'javascripts/application.js' %>
  <%= javascript_include_tag 'application' %>
  <!-- cris -->
  <%= stylesheet_pack_tag 'stylesheets/application.css' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="main container-fluid">
  <div class="row">
<!--    <div class="col-sm-2 py-2">-->
<!--      <nav class="nav flex-column">-->
        <%#= link_to "Admin CSV Upload", admin_upload_index_path, class: 'nav-link' %>
<!--      </nav>-->
<!--    </div>-->
    <div class="col-sm-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
