<!DOCTYPE html>
<html>
<head>
  <title>PMO Weekly Reporting</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= stylesheet_pack_tag 'stylesheets/formation/app.css' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="main">
  <div class="usa-grid">
    <div class="usa-width-whole">
      <%= render 'layouts/messages' %>
      <div id="app"></div>
      <%= yield %>
    </div>
  </div>
</div>
<%#= render 'layouts/footer' %>
</body>
</html>
