<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VetsEZ Works Weekly Reporting</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= javascript_pack_tag 'javascripts/application.js' %>
  <%= javascript_include_tag 'application' %>
  <!-- cris -->
  <%= stylesheet_pack_tag 'stylesheets/application.css' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="main container-fluid">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</body>
</html>
